{%- macro vote(entity, route) -%}
  {% with {
    UPVOTE: constant('App\\Entity\\Votable::VOTE_UP'),
    DOWNVOTE: constant('App\\Entity\\Votable::VOTE_DOWN'),
    RETRACT: constant('App\\Entity\\Votable::VOTE_RETRACT'),
    UPVOTED: constant('App\\Entity\\Votable::USER_UPVOTED'),
    DOWNVOTED: constant('App\\Entity\\Votable::USER_DOWNVOTED'),
  } %}
    {{- block('vote') -}}
  {% endwith %}
{%- endmacro -%}

{% block vote -%}
  {%- from '_macros/icon.html.twig' import icon -%}
  {%- set user_choice = is_granted('ROLE_USER') ? entity.userChoice(app.user) : null -%}
  <form action="{{ path(route, {id: entity.id}) }}"
        method="post"
        class="vote {{ user_choice == UPVOTED ? 'vote--user-upvoted' : user_choice == DOWNVOTED ? 'vote--user-downvoted' }} vp"
        data-ajax-action="{{ path(route, {id: entity.id, _format: 'json'}) }}"
        data-score="{{ entity.netScore }}">

    {# csrf_token starts a session #}
    {% if is_granted('ROLE_USER') %}
      <input type="hidden" name="token" value="{{ csrf_token('vote') }}">
    {% endif %}

    <span>
      <button type="submit"
              name="choice"
              value="{{ user_choice == UPVOTED ? RETRACT : UPVOTE }}"
              class="vote__button vote__button--up"
              title="{{ (user_choice == UPVOTED ? 'action.retract_upvote' : 'action.upvote')|trans }}">
        <span class="vote__button-label" aria-hidden="true">{{ icon('up', 'up') }}</span>
      </button>
    </span>

    <span>
      <span class="vote__net-score">{{ entity.netScore }}</span>
    </span>

    <span>
      <button type="submit"
              name="choice"
              value="{{ user_choice == DOWNVOTED ? RETRACT : DOWNVOTE }}"
              class="vote__button vote__button--down"
              title="{{ (user_choice == DOWNVOTED ? 'action.retract_downvote' : 'action.downvote')|trans }}">
        <span class="vote__button-label" aria-hidden="true">{{ icon('down', 'down') }}</span>
      </button>
    </span>
  </form>
{%- endblock -%}
