{% with {
  attr: app.request.attributes,
  get: app.request.query.all,
  hasPrev: pager.hasPreviousPage ?? false,
  hasNext: pager.hasNextPage,
  bidirectional: pager.getNbPages is defined,
} %}
  <nav class="nav nav--guttered">
    {% if hasPrev %}
      <a href="{{ path(attr.get('_route'), (attr.get('_route_params') ?? {})|merge(get)|merge({page: pager.previousPage})) }}"
         class="button button--secondary">
        {{- 'nav.previous'|trans -}}
      </a>
    {% elseif bidirectional %}
      <button class="button button--secondary" disabled>{{ 'nav.previous'|trans }}</button>
    {% endif %}

    <span class="nav__grow" role="presentation"></span>

    {% if hasNext %}
      <a href="{{ path(attr.get('_route'), (attr.get('_route_params') ?? {})|merge(get)|merge(pager.nextPageParams ?? {page: pager.nextPage})) }}"
         class="button button--secondary"
         rel="next">
        {{- (bidirectional ? 'nav.next' : 'nav.more')|trans -}}
      </a>
    {% else %}
      <button class="button button--secondary" disabled>
        {{- (bidirectional ? 'nav.next' : 'nav.more')|trans -}}
      </button>
    {% endif %}
  </nav>
{% endwith %}
