{{ form_start(form, {attr: {class: 'vp vp--guttered '~((app.user.autoFetchSubmissionTitles ?? true) ? 'js-auto-fetch-submission-titles')}}) }}
  {{ form_errors(form) }}

  {{ form_row(form.url, {attr: {class: 'js-fetch-title'}}) }}

  {{ form_row(form.title, {attr: {rows: 3, class: 'js-receive-title'}}) }}

  {{ form_row(form.body, {attr: {rows: 10}}) }}

  {{ form.forum is defined ? form_row(form.forum, {attr: {class: 'select2'}, show_required_indicator: true}) }}

  {{ form.userFlag is defined ? form_row(form.userFlag) }}

  {{ form.sticky is defined ? form_row(form.sticky) }}

  {{ form.locked is defined ? form_row(form.locked) }}

  <div class="form__row form__button-row">
    {{ form_widget(form.submit) }}

    {% if form.delete is defined %}
      {{ form_widget(form.delete, {attr: {class: 'delete-submission-button'}}) }}
    {% endif %}
  </div>
{{ form_end(form) }}
