{% use '_layouts/submission.html.twig' %}

{% macro submission(submission, options) %}
  {%- with {
    open_external: submission.url is not empty and (app.user.openExternalLinksInNewTab ?? false),
    show_body: options.show_body ?? false,
    show_forum_name: options.show_forum_name ?? true,
    submission: submission,
  } only -%}
    {{ block('submission') }}
  {%- endwith -%}
{% endmacro submission %}

{% macro submission_sort(sort_by) %}
  {%- set attr = app.request.attributes -%}
  <div class="form-row form-row--single-line">
    <label class="dimmed form-row__label" for="submission-sort">{{ 'submissions.sort_by'|trans }}</label>

    <div class="dropdown">
      <button class="button button--secondary dropdown__toggle" id="submission-sort">
        {{ ('submissions.sort_by_'~sort_by)|trans }}
        <span class="dropdown__arrow" role="presentation"></span>
      </button>

      <ul class="dropdown__menu card unlistify">
        {% for type in ['hot', 'new', 'top', 'controversial', 'most_commented'] %}
          <li>
            <a href="{{ path(attr.get('_route'), attr.get('_route_params', {})|merge({sortBy: type})) }}"
               class="menu-link {{ type == sort_by ? 'menu-link--active' }}">
              {{- ('submissions.sort_by_'~type)|trans -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro submission_sort %}
