{% use '_layouts/submission.html.twig' %}

{% macro submission(submission, options) %}
  {%- with {
    show_body: options.show_body ?? false,
    show_forum_name: options.show_forum_name ?? true,
    submission: submission
  } only -%}
    {{ block('submission') }}
  {%- endwith -%}
{% endmacro -%}

{%- macro submission_sort(current) -%}
  {%- set attr = app.request.attributes -%}
  {%- spaceless -%}
    {%- for type in ['hot', 'new', 'top', 'controversial', 'most_commented'] -%}
      <li class="tabs__tab {{ type == current ? 'tabs__tab--active active' }}">
        <a href="{{ path(attr.get('_route'), (attr.get('_route_params') ?? [])|merge({sortBy: type})) }}" class="tabs__link {{ type == current ? 'tabs__link--active' }}">
          {{- ('submissions.sort_by_'~type)|trans -}}
        </a>
      </li>
    {%- endfor -%}
  {%- endspaceless -%}
{%- endmacro -%}
