{% extends 'submission/base.html.twig' %}

{% from 'comment/_macros.html.twig' import comment, comment_form %}
{% from 'submission/_macros.html.twig' import submission %}

{% block main_classes 'container vp vp--guttered' %}

{% block body %}
  <div class="card">
    {{ submission(submission) }}
  </div>

  <div class="card">
    <p class="no-margin pad vertical-pad neutral-bg">
      {{ 'comments.viewing_thread'|trans }}
      <a href="{{ path('submission', {forum_name: forum.name, submission_id: submission.id, slug: submission.title|slugify}) }}">
        {{- 'comments.thread_return'|trans -}}
      </a>
    </p>

    {{ comment(comment, {recurse: true, show_form: true}) }}
  </div>
{% endblock %}
