{% extends 'submission/base.html.twig' %}

{% block title 'title.delete_submission'|trans %}

{% block page_classes 'container vp vp--guttered vertical-pad' %}

{% block body %}
  {% from 'submission/_macros.html.twig' import submission %}

  <h1 class="no-margin pad">{{ block('title') }}</h1>

  <div class="card">
    {{ submission(submission) }}
  </div>

  {{ form_start(form, {attr: {class: 'pad vp vp--guttered'}}) }}
    {{ form_row(form.reason) }}

    <div class="button-row">
      <button class="button">{{ 'action.delete'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
