{% extends 'submission/base.html.twig' %}

{% from 'submission/_macros.html.twig' import submission %}
{% from 'comment/_macros.html.twig' import comment, comment_form %}

{% block head %}
  <meta property="og:site_name" content="{{ site_name() }}">
  <meta property="og:title" content="{{ submission.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ url('submission', {forum_name: submission.forum.name, submission_id: submission.id, slug: submission.title|slugify}) }}">
  <meta property="og:image" content="{{ absolute_url(asset(submission.image ? 'submission_images/%s'|format(submission.image) : 'apple-touch-icon-precomposed.png')) }}">
  <meta property="og:article:published_time" content="{{ submission.timestamp|date('c') }}">
  <meta property="og:article:author" content="{{ submission.user.username }}">

  <link rel="canonical" href="{{ url('submission', {forum_name: submission.forum.name, submission_id: submission.id, slug: submission.title|slugify}) }}">
{% endblock %}

{% block main_classes 'container' %}

{% block body %}
  <div class="vp vp--guttered">
    <div class="card">
      {{ submission(submission, {show_body: true, show_forum_name: false}) }}
    </div>

    <h2 class="pad">{{ 'comments.comments'|trans }}</h2>

    <div class="card">
      <div class="pad vertical-pad">
        {{ comment_form(submission) }}
      </div>

      <div class="submission-comments vp">
        {% for comment in submission.topLevelComments %}
          {{ comment(comment, {recurse: true}) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
