{{ form_start(form, {attr: {class: 'comment-form vp vp--guttered'}}) }}
  <div class="form-row">
    {{ form_errors(form.comment) }}
    {{ form_label(form.comment, null, {label_attr: {class: 'no-display'}}) }}
    {{ form_widget(form.comment, {attr: {rows: 5}}) }}
  </div>

  <div class="nav nav--guttered nav--justify-space-between">
    <div class="form-row form-row--single-line">
      {% if form.userFlag is defined %}
        {{ form_label(form.userFlag) }}
        {{ form_widget(form.userFlag) }}
      {% endif %}
    </div>

    <div>{{ form_widget(form.submit) }}</div>
  </div>
{{ form_end(form) }}
