{% extends 'submission/base.html.twig' %}
{% block main_classes 'container vertical-pad' %}

{% from 'comment/_macros.html.twig' import comment %}

{% block title %}
  {% if editing %}
    {{ 'comment_form.edit_title'|trans }}
  {% else %}
    {{ 'comment_form.create_title'|trans }}
  {% endif %}
{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="vp vp--guttered">
    <h1 class="container page-heading pad">{{ block('title') }}</h1>

    {% if comment %}
    <div class="card">
      {{ comment(comment, {edit_form: form}) }}
    </div>
    {% endif %}

    <div class="card pad vertical-pad">
      {{ include('comment/_form.html.twig', {form: form}, with_context=false) }}
    </div>
  </div>
{% endblock %}
