{% extends 'base.html.twig' %}
{% use '_layouts/list_of_things.html.twig' %}
{% from 'comment/_macros.html.twig' import comment %}

{% set things = comments %}
{% block title 'title.recent_comments'|trans %}

{% block page_header %}
  <header class="nav nav--guttered nav--justify-space-between nav--align-end pad">
    <h1 class="no-margin">{{ block('title') }}</h1>
    <nav>
      <ul class="nav nav--guttered unlistify" role="navigation">
        <li><a href="{{ path('front') }}" class="tab">{{ 'nav.submissions'|trans }}</a></li>
        <li><a href="{{ path('comment_list') }}" class="tab tab--active">{{ 'nav.comments'|trans }}</a></li>
      </ul>
    </nav>
  </header>
{% endblock page_header %}

{% block render_thing %}
  {{ comment(thing) }}
{% endblock render_thing %}
