{{ form_start(form, {attr: {class: 'vp vp--guttered'}}) }}
  {{ form_row(form.name, {help: 'help.will_appear_in_the_url'}) }}

  {{ form_row(form.title) }}

  {{ form_row(form.description) }}

  {{ form_row(form.sidebar, { attr: { rows: 8 } }) }}

  <div class="button-row">
    <button class="button">{{ (editing ? 'action.edit' : 'action.create')|trans }}</button>
  </div>
{{ form_end(form) }}
