{% extends 'wiki/base.html.twig' %}

{% block title %}
  {{ 'wiki.history_title'|trans({'%path%': page.path}) }}
{% endblock %}

{% block head %}
  {% include '_includes/meta_pagination.html.twig' with {pager: revisions} only %}
{% endblock %}

{% block main_classes 'container vertical-pad vp vp--guttered' %}

{% block body %}
  <h1 class="pad">{{ 'wiki.history_title'|trans({
    '%path%': '<a href="%s">%s</a>'|format(path('wiki', {path: page.path})|escape, page.path|escape)
  })|raw }}</h1>

  <form action="{{ path('wiki_diff') }}" class="vp vp--guttered">
    <table class="table">
      <thead>
        <tr>
          <th class="table__shrink" colspan="2">{{ 'label.compare'|trans }}</th>
          <th>{{ 'wiki.id_label'|trans }}</th>
          <th>{{ 'wiki.revision_time'|trans }}</th>
          <th class="table__shrink">{{ 'wiki.user'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for revision in revisions %}
          <tr>
            <td class="table__shrink"><input type="radio"
                       name="from"
                       value="{{ revision.id }}"
                       {{ loop.index == 2 ? 'checked' }}></td>
            <td class="table__shrink"><input type="radio"
                       name="to"
                       value="{{ revision.id }}"
                       {{ loop.index == 1 ? 'checked' }}></td>
            <td>
              <a href="{{ path('wiki_revision', {id: revision.id}) }}">{{ revision.id.hex|slice(0, 8) }}</a>
            </td>
            <td>
              {% with {date: revision.timestamp|localizeddate('long', 'short')} %}
                <time datetime="{{ revision.timestamp|date('c') }}" class="relative-time" title="{{ date }}">
                  {{- date -}}
                </time>
              {% endwith %}
            </td>
            <td class="table__shrink"><a href="{{ path('user', {username: revision.user.username}) }}">{{ revision.user.username }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="button-row pad">
      <button class="button">{{ 'action.compare'|trans }}</button>
    </div>
  </form>

  <div class="pad">
    {{ include('_includes/pagination.html.twig', {pager: revisions}, with_context=false) }}
  </div>
{% endblock %}
