{% extends 'wiki/base.html.twig' %}
{% from '_macros/icon.html.twig' import icon %}

{% block title page.latestRevision.title %}
{% block main_classes 'container' %}

{% block head %}
  <link rel="canonical" href="{{ url('wiki', {path: page.path}) }}">
{% endblock %}

{% block body %}
  <header class="nav nav--guttered nav--justify-space-between nav--align-end vertical-pad pad">
    <h1 class="no-margin">{{ block('title') }}</h1>

    <nav>
      <a href="{{ path('wiki_edit', {path: page.path}) }}" class="button button--secondary">
        {{ icon('pencil') }}
        {{ 'wiki.edit_page'|trans }}
      </a>
    </nav>
  </header>

  <article class="card pad vertical-pad">
    {{ page.latestRevision.body|cached_markdown(markdown_context())|raw }}
  </article>
{% endblock %}

