{% use 'form_div_layout.html.twig' %}

{% block form -%}
  {{ form_start(form, {attr: {class: 'vp vp--guttered'}}) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{%- endblock form %}

{%- block form_start -%}
  {%- set attr = attr|merge({'class': ((attr.class ?? '')~' form')|trim}) -%}
  {{- parent() -}}
{%- endblock form_start -%}

{% block form_help %}
  {%- if help is not empty -%}
    <aside class="vp vp--guttered dimmed">
      <p>
        {{- (translation_domain is same as(false)
          ? help
          : (help|trans([], translation_domain))
        )|replace({'\r': '', '\n\n': '</p><p>', '\n': '<br>'}) -}}
      </p>
    </aside>
  {%- endif -%}
{% endblock form_help %}

{# make the for/id pair point to the date component #}
{%- block datetime_label -%}
  {%- if widget == 'single_text' -%}
    {{- form_label(form) -}}
  {%- else -%}
    {{- form_label(form.date, label) -}}
  {%- endif -%}
{%- endblock datetime_label -%}

{%- block datetime_widget -%}
  {% if widget == 'single_text' %}
    {{- block('form_widget_simple') -}}
  {%- else -%}
    <span class="compound-form-widget">
      {{- form_widget(form.date) -}}
      {{- form_widget(form.time) -}}
    </span>
  {%- endif -%}
{%- endblock datetime_widget -%}

{# remove surrounding <div> that breaks flexbox #}
{% block form_widget_compound %}
  {%- if form is rootform -%}
    {{- form_errors(form) -}}
  {%- endif -%}
  {{- block('form_rows') -}}
  {{- form_rest(form) -}}
{% endblock form_widget_compound %}

{%- block form_errors -%}
  {%- if errors|length > 0 -%}
    <ul class="inside-list no-margin">
      {%- for error in errors -%}
        <li class="bad-fg">{{ error.message }}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endblock form_errors -%}

{%- block form_row -%}
  <div>
    <div class="form-row">
      {{- form_label(form) -}}
      {{- form_errors(form) -}}
      {{- form_widget(form) -}}
    </div>
    {{- form_help(form) -}}
  </div>
{%- endblock form_row -%}

{%- block checkbox_row -%}
  <div>
    {{- form_errors(form) -}}
    <span class="form-row form-row--single-line">
      {{- form_widget(form) -}}
      {{- form_label(form) -}}
    </span>
  </div>
{%- endblock checkbox_row -%}

{%- block button_row -%}
  <div class="button-row">
    {{- form_widget(form) -}}
  </div>
{%- endblock button_row -%}

{%- block button_widget -%}
  {%- set attr = attr|merge({'class': (attr.class ?? '')~' button'}) -%}
  {{- parent() -}}
{%- endblock -%}

{%- block markdown_label -%}
  {% from '_macros/icon.html.twig' import icon %}
  <div class="nav nav--guttered nav--justify-space-between">
    {{ block('form_label') }}
    {{ icon('markdown') }}
  </div>
{%- endblock -%}

{%- block captcha_widget -%}
  {%- spaceless -%}
    <div>
      {%- if not reload -%}
        <img src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}">
      {%- else -%}
        <a class="captcha_reload" href="javascript:reload_{{ image_id }}();">
          <img src="{{ captcha_code }}" alt="" id="{{ image_id }}" title="{{ 'Renew'|trans({}, 'gregwar_captcha') }}" width="{{ captcha_width }}" height="{{ captcha_height }}">
        </a>
        <script type="text/javascript">
          function reload_{{ image_id }}() {
            var img = document.getElementById('{{ image_id }}');
            img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
          }
        </script>
      {%- endif -%}
    </div>
    {{- form_widget(form) -}}
  {%- endspaceless -%}
{%- endblock -%}

{%- block honeypot_row -%}
  <div style="display: none">
    {{- form_widget(form) -}}
  </div>
{%- endblock -%}

{% block honeypot_widget %}
  {%- set attr = attr|merge({'style': 'display: none'}) -%}
  {{- block('form_widget') -}}
{% endblock %}

{%- block choice_widget  -%}
  {%- set attr = attr|merge({class: ((attr.class ?? '')~' form-control')|trim}) -%}
  {{- parent() -}}
{%- endblock -%}

{%- block form_widget_simple -%}
  {%- set attr = attr|merge({class: ((attr.class ?? '')~' form-control')|trim}) -%}
  {{- parent() -}}
{%- endblock -%}

{%- block textarea_widget -%}
  {%- set attr = attr|merge({class: ((attr.class ?? '')~' form-control')|trim}) -%}
  {{- parent() -}}
{%- endblock -%}
