<nav>
  <ul class="nav nav--guttered unlistify" role="navigation">
    <li>
      <a href="{{ path('user_bans') }}"
         class="tab {{ page == 'user_bans' ? 'tab--active' }}"
         {{ page == 'user_bans' ? 'aria-current="page"' }}>
        {{- 'nav.user_bans'|trans -}}
      </a>
    </li>
    <li>
      <a href="{{ path('ip_bans') }}"
        class="tab {{ page == 'ip_bans' ? 'tab--active' }}"
        {{ page == 'ip_bans' ? 'aria-current="page"' }}>
        {{- 'nav.ip_bans'|trans -}}
      </a>
    </li>
  </ul>
</nav>
