<nav class="tabs">
  <ul class="unlistify tabs__bar">
    <li class="tabs__tab {{ page == 'user_bans' ? 'tabs__tab--active' }}">
      <a href="{{ path('user_bans') }}" class="tab tabs__link {{ page == 'user_bans' ? 'tab--active tabs__link--active' }}">
        {{- 'nav.user_bans'|trans -}}
      </a>
    </li>
    <li class="tabs__tab {{ page == 'ip_bans' ? 'tabs__tab--active' }}">
      <a href="{{ path('ip_bans') }}" class="tab tabs__link {{ page == 'ip_bans' ? 'tab--active tabs__link--active' }}">
        {{- 'nav.ip_bans'|trans -}}
      </a>
    </li>
  </ul>
</nav>
