{% extends 'user/base.html.twig' %}
{% from 'user/_macros.html.twig' import user_link %}

{% block title 'title.ban_user'|trans({'%user%': '/u/'~user.username}) %}

{% block main_classes 'container vp vp--guttered vertical-pad pad' %}

{% block body %}
  <header class="nav nav--guttered nav--justify-space-between">
    <h1 class="no-margin">{{ 'title.ban_user'|trans({'%user%': user_link(user, {prefix: true})})|raw }}</h1>
    {{ include('ban/_tabs.html.twig', {page: 'user_bans'}, with_context=false) }}
  </header>

  {{ form_start(form, {attr: {class: 'vp vp--guttered'}}) }}
    {{ form_row(form.reason) }}
    {{ form_row(form.expiresAt) }}
    {{ form_row(form.ban_ip) }}
    {{ form_row(form.ips) }}

    <div class="button-row">
      <button class="button">{{ 'action.ban'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}

