{% extends 'base.html.twig' %}
{% use '_layouts/single_column.html.twig' %}

{% block title 'title.ip_bans'|trans %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: bans}, with_context = false) }}
{% endblock %}

{% block main_classes 'container container--two-col-expand vertical-pad vp vp--guttered' %}

{% block body %}
  <header class="nav nav--guttered nav--align-end pad">
    <h1 class="no-margin">{{ block('title') }}</h1>

    <nav class="nav__grow">
      <a href="{{ path('ban_ip') }}" class="button button--secondary">{{ 'nav.add_ban'|trans }}</a>
    </nav>

    {{ include('ban/_tabs.html.twig', {page: 'ip_bans'}, with_context=false) }}
  </header>

  {% if bans is not empty %}
    <form action="{{ path('unban_ips') }}" method="POST" class="form vp vp--guttered">
      <input type="hidden" name="token" value="{{ csrf_token('unban_ips') }}">

      <table class="table">
        <thead>
          <tr>
            <th class="table__shrink"></th>
            <th class="table__shrink">{{ 'ban_list.ip'|trans }}</th>
            <th class="table__shrink">{{ 'ban_list.timestamp'|trans }}</th>
            <th class="table__shrink">{{ 'ban_list.expires'|trans }}</th>
            <th class="table__shrink">{{ 'ban_list.user'|trans }}</th>
            <th>{{ 'ban_list.reason'|trans }}</th>
          </tr>
        </thead>
        <tbody>
        {% for ban in bans %}
          <tr>
            <td class="table__shrink"><input type="checkbox" name="ban[]" value="{{ ban.id }}" id="ban_{{ ban.id }}"></td>
            <td class="table__shrink"><label for="ban_{{ ban.id }}">{{ ban.ip }}</label></td>
            <td class="table__shrink">
              <time datetime="{{ ban.timestamp|date('c') }}" class="relative-time">
                {{- ban.timestamp|localizeddate('long', 'short') -}}
              </time>
            </td>
            <td class="table__shrink">
              {% if ban.expiryDate %}
                <time datetime="{{ ban.expiryDate|date('c') }}" class="relative-time">
                  {{- ban.expiryDate|localizeddate('long', 'short') -}}
                </time>
              {% else %}
                <small>{{ 'ban_list.expires_never'|trans }}</small>
              {% endif %}
            </td>
            <td class="table__shrink">
              {% if ban.user %}
                <a href="{{ path('user', {username: ban.user.username}) }}">{{ ban.user.username }}</a>
              {% else %}
                <small>{{ 'ban_list.user_none'|trans }}</small>
              {% endif %}
            </td>
            <td>{{ ban.reason }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="button-row pad">
        <button type="submit" class="button">{{ 'ban_list.remove'|trans }}</button>
      </div>

      <div class="pad">
        {{ include('_includes/pagination.html.twig', {pager: bans}, with_context = false) }}
      </div>
    </form>
  {% else %}
    <p class="pad"><small class="dimmed">{{ 'flash.no_entries_to_display'|trans }}</small></p>
  {% endif %}
{% endblock %}
