{% extends 'base.html.twig' %}
{% use '_layouts/list_of_things.html.twig' %}
{% set things = submissions %}

{% from 'submission/_macros.html.twig' import submission, submission_sort %}
{% from _self import submission_filter %}

{% block head %}
  <link rel="canonical" href="{{ url('front') }}">

  <meta property="og:title" content="{{ site_name() }}">
  <meta property="og:site_name" content="{{ site_name() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url('front') }}">
  <meta property="og:image" content="{{ absolute_url(asset('apple-touch-icon-precomposed.png')) }}">

  <link rel="alternate" type="application/atom+xml" href="{{ path('featured_feed') }}" title="{{ 'title.submissions_in_featured_forums'|trans }}">

  {{ parent() }}
{% endblock head %}

{% block page_header %}
  <nav class="nav nav--guttered nav--justify-space-between pad">
    <div>
      <div class="nav nav--guttered">
        {{ submission_filter(listing, sort_by) }}
        {{ submission_sort(sort_by) }}
      </div>
    </div>

    <div>
      <ul class="nav nav--guttered unlistify">
        <li><a href="{{ path('front') }}" class="tab tab--active">{{ 'nav.submissions'|trans }}</a></li>
        <li><a href="{{ path('comment_list') }}" class="tab">{{ 'nav.comments'|trans }}</a>
      </ul>
    </div>
  </nav>

  {% block front_alerts %}{% endblock front_alerts %}
{% endblock page_header %}

{% block render_thing %}
  {{ submission(thing) }}
{% endblock %}

{% macro submission_filter(listing, sort_by) %}
  {% set labels = {
    'subscribed': 'front.subscribed'|trans,
    'featured': 'front.featured'|trans,
    'all': 'front.all'|trans,
    'moderated': 'nav.moderated'|trans,
  } %}
  {% set items = [
    { route: 'featured' },
    { route: 'subscribed', condition: is_granted('ROLE_USER') },
    { route: 'moderated', condition: is_granted('ROLE_USER') and app.user.moderatorTokens|length > 0 },
    { route: 'all' },
  ] %}
  <span class="form-row form-row--single-line">
    <label class="form-row__label dimmed" for="submission-filter">{{ 'submissions.view'|trans }}</label>

    <span class="dropdown">
      <button class="button button--secondary dropdown__toggle" id="submission-filter">
        {{ labels[listing] }}
        <span class="dropdown__arrow" role="presentation"></span>
      </button>

      <ul class="dropdown__menu card unlistify">
        {% for item in items if listing == item.route or item.condition ?? true %}
          <li>
            <a href="{{ path(item.route, {sortBy: sort_by}) }}" class="menu-link {{ listing == item.route ? 'menu-link--active' }}">
              {{- labels[item.route] -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </span>
  </span>
{% endmacro %}
