{% extends 'front/base.html.twig' %}

{% block front_alerts %}
  {% if forums is empty %}
    <div class="alert alert--notice">
      <p>{{ 'flash.no_moderated_forums'|trans }}</p>
    </div>
  {% endif %}

  {{ parent() }}
{% endblock %}

{% block sidebar_bottom %}
  {%- if forums|length > 0 -%}
    <section class="card">
      <h4 class="no-margin pad vertical-pad">{{ 'heading.forums_you_moderate'|trans }}</h4>
      <ul class="unlistify">
        {% for forum in forums %}
          <li><a href="{{ path('forum', {forum_name: forum}) }}" class="menu-link">{{ forum }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {%- endif -%}
{% endblock %}
