{% extends 'front/base.html.twig' %}

{% block front_alerts %}
  {%- if not has_subscriptions -%}
    <p class="pad"><small class="dimmed">{{ 'front.please_subscribe'|trans }}</small></p>
  {%- endif -%}
{% endblock %}

{% block sidebar_bottom_classes 'container' %}
{% block sidebar_bottom %}
  <section class="card">
    <h4 class="no-margin pad vertical-pad">{{ 'front.subscribed_forums'|trans }}</h4>

    {% if forums|length > 0 %}
      <ul class="unlistify" role="navigation">
        {% for name in forums %}
          <li><a href="{{ path('forum', {forum_name: name}) }}" class="menu-link">{{ name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no-margin pad vertical-pad"><small class="dimmed">{{ 'front.no_forums'|trans }}</small></p>
    {% endif %}
  </section>
{% endblock %}
