{%- macro message(message) -%}
  {{- block('message') -}}
{%- endmacro -%}

{%- block message -%}
  {%- from '_macros/icon.html.twig' import icon -%}
  {%- from 'user/_macros.html.twig' import user_link -%}
  <article class="message pad vertical-pad" id="message_{{ message.title is defined ? 't' : 'r' }}{{ message.id }}">
    <header>
      {% if message.title is defined %}
        <h1>{{ message.title }}</h1>
      {% endif %}

      <ul class="nav nav--guttered unlistify">
        <li>
          <a href="{{ path('user', {username: message.sender.username}) }}" class="no-wrap muted no-underline">
            {{ icon('user') }}
            <span class="no-underline__ignore">{{ message.sender.username }}</span>
          </a>
        </li>
        <li class="no-wrap muted">
          {{ icon('clock') }}
          {% with {date: message.timestamp|localizeddate('medium', 'short')} %}
            <time datetime="{{ message.timestamp|date('c') }}" class="relative-time" title="{{ date }}">
              {{- date -}}
            </time>
          {% endwith %}
        </li>
      </ul>
    </header>

    <div class="message__body">
      {{- message.body|cached_markdown(markdown_context())|raw -}}
    </div>
  </article>
{% endblock %}
