<!DOCTYPE html>
<html lang="{{ app.request.locale }}" prefix="og: http://ogp.me/ns#" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ site_name() }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Postmill {{ app_version() }}">

    <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-precomposed.png') }}">

    {% block stylesheets %}
      {{ include('_includes/stylesheets.html.twig', { night_mode: app.user.nightMode ?? false }, with_context=false) }}
    {% endblock %}

    {% block head %}{% endblock %}
  </head>

  <body class="{{ app.user ? 'user-logged-in' : 'user-anonymous' }}
      {{ (app.user.nightMode ?? false) ? 'night-mode' }}
      {{ (app.user.enablePostPreviews ?? true) ? 'js-enable-post-previews' }}">
    {% block site_alerts %}
      {% set i = 1 %}
      <div class="site-alerts hide-empty pad vertical-pad vp vp--guttered">
        {%- for type, notices in app.flashes -%}
          {%- for notice in notices -%}
            {%- set i = i + 1 -%}
            <div class="{{ type == 'notice' ? 'neutral-bg' : type == 'success' ? 'good-bg' }} site-alerts__alert card nav"
                 role="alert"
                 id="sa{{ i }}">
              <p class="no-margin pad vertical-pad">{{ notice|trans }}</p>
              <button type="button pad vertical-pad"
                      class="js-dismiss-alert unbuttonize unbuttonize--as-link pad vertical-pad
                             {{ type == 'notice' ? 'neutral-fg' : type == 'success' ? 'good-fg' }}"
                      data-target="sa{{ i }}">&times;</button>
            </div>
          {%- endfor -%}
        {%- endfor -%}
      </div>
    {% endblock %}

    <div class="site-content">
      {% block site_content %}
        {% block site_nav %}
          {{ include('_includes/site_nav.html.twig', {forum: forum ?? null}, with_context=false) }}
        {% endblock %}

        {% block site_main %}
          <div class="two-col-collapsible">
            <aside class="two-col-collapsible__top {% block sidebar_top_classes 'container pad vertical-pad hide-empty' %}">
              {%- block sidebar_top %}{% endblock -%}
            </aside>

            <main class="two-col-collapsible__main {% block main_classes 'container pad vertical-pad' %}">
              {%- block body %}{% endblock -%}
            </main>

            <aside class="two-col-collapsible__bottom {% block sidebar_bottom_classes 'container pad vertical-pad hide-empty' %}">
              {%- block sidebar_bottom %}{% endblock -%}
            </aside>
          </div>
        {% endblock %}

        {% block site_footer %}
          <footer class="site-content__footer">
            <p class="no-margin text-align-center pad vertical-pad">
              <span class="footer-text">
                {{- 'site_footer.version'|trans({
                  '%branch%': app_branch(),
                  '%version%': app_version(),
                  '%app%': '<a href="https://postmill.xyz/">Postmill</a>',
                })|raw -}}
              </span>
            </p>
          </footer>
        {% endblock %}
      {% endblock %}
    </div>

    {{ source('_includes/icons.svg') }}

    {% block javascripts %}
      <script src="{{ preload(asset('bundles/fosjsrouting/js/router.js', 'static_asset')) }}"></script>

      {% if app.environment != 'dev' or app.request.query.has('static_assets') %}
        <script src="{{ preload(asset('js/routing.js', 'static_asset')) }}"></script>
      {% else %}
        <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
      {% endif %}

      <script src="{{ preload(asset('build/manifest.js')) }}"></script>
      <script src="{{ preload(asset('build/vendor.js')) }}"></script>
      <script src="{{ preload(asset('build/main.js')) }}"></script>

      {% if app.environment != 'dev' or app.request.query.has('static_assets') %}
        <script src="{{ preload(asset('js/translations/config.js', 'static_asset')) }}"></script>
        <script src="{{ preload(asset('js/translations/%s.js'|format(app.request.locale), 'static_asset')) }}"></script>
      {% else %}
        <script src="{{ path('bazinga_jstranslation_js') }}"></script>
      {% endif %}
    {% endblock %}
  </body>
</html>
