{{ form_start(form, {attr: {class: 'vp vp--guttered'}}) }}
  {{ form_row(form.username, {help: 'user.username_rules'}) }}

  {{ form_row(form.password.first, {help: 'user.password_rules'}) }}

  {{ form_row(form.password.second) }}

  {{ form_row(form.email, {help: 'user.email_optional'}) }}

  {% if form.verification is defined %}
    <div>
      {% if not app.request.hasPreviousSession %}
        <div class="alert alert--notice">
          <p>{{ 'flash.no_cookies_verification'|trans }}</p>
        </div>
      {% endif %}
      {{ form_label(form.verification) }}
      {{ form_errors(form.verification) }}
      {{ form_widget(form.verification) }}
    </div>
  {% endif %}

  {{ form_row(form.submit) }}
{{ form_end(form) }}
