{{ form_start(form) }}
  {{ form_row(form.username) }}

  {{ form_row(form.password) }}

  {{ form_row(form.email) }}

  {% if form.verification is defined %}
    <div class="form__row">
      {{ form_label(form.verification) }}
      {{ form_errors(form.verification) }}
      {% if not app.request.hasPreviousSession %}
        <div class="alert alert--notice">
          <p>{{ 'flash.no_cookies_verification'|trans }}</p>
        </div>
      {% endif %}
      {{ form_widget(form.verification) }}
    </div>
  {% endif %}

  {{ form_row(form.submit) }}
{{ form_end(form) }}
