{% extends 'base.html.twig' %}
{% use '_layouts/single_column.html.twig' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: notifications}, with_context=false) }}
{% endblock %}

{% block title 'inbox.title'|trans %}

{% block main_classes 'container vertical-pad vp vp--guttered' %}

{% block body %}
  <div class="pad nav nav--guttered {{ notifications is empty ? 'nav--justify-space-between' }}">
    <h1 class="no-margin">{{ 'inbox.title'|trans }}</h1>

    {% if notifications is not empty %}
      <form action="{{ path('clear_inbox', { max: notifications|first.id }) }}" method="POST" class="nav__grow">
        <input type="hidden" name="token" value="{{ csrf_token('clear_inbox') }}">
        <button class="button">{{ 'inbox.clear_inbox'|trans }}</button>
      </form>
    {% endif %}

    {{ include('_includes/inbox_nav.html.twig', {current: 'inbox'}, with_context=false) }}
  </div>

  {% if notifications is not empty %}
    {% for notification in notifications %}
      <div>
        <form action="{{ path('clear_notification', { id: notification.id }) }}" method="POST" class="pad nav nav--justify-end">
          <input type="hidden" name="token" value="{{ csrf_token('clear_notification') }}">
          <button class="button button--inline">{{ 'action.clear_notification'|trans }}</button>
        </form>

        <div class="card">
          {{ block('notification_'~notification.type) }}
        </div>
      </div>
    {% endfor %}

    <div class="pad">
      {{ include('_includes/pagination.html.twig', {pager: notifications}, with_context=false) }}
    </div>
  {% else %}
    <p class="pad"><small class="dimmed">{{ 'inbox.empty'|trans }}</small></p>
  {% endif %}
{% endblock %}

{% block notification_comment %}
  {% from 'comment/_macros.html.twig' import comment %}

  {{ comment(notification.comment, {show_context: true}) }}
{% endblock %}

{% block notification_message_thread %}
  {% from 'message/_macros.html.twig' import message %}

  {{ message(notification.thread, {recursive: false}) }}
{% endblock %}

{% block notification_message_reply %}
  {% from 'message/_macros.html.twig' import message %}

  {{ message(notification.reply) }}
{% endblock %}
