{% extends 'user/base.html.twig' %}
{% form_theme form '_forms/aligned_form_theme.html.twig' %}

{% block title 'user_settings.title'|trans({'%username%': user.username}) %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ form_start(form, {attr: {class: 'vp vp--guttered'}}) }}
    <fieldset class="fieldset">
      <legend class="form-group__header">{{ 'label.general'|trans }}</legend>

      <div class="vp vp--guttered">
        {{ form_row(form.locale) }}

        {{ form_row(form.front_page) }}

        {{ form_row(form.openExternalLinksInNewTab) }}
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="form__group-header">{{ 'label.posting'|trans }}</legend>

      <div class="vp vp--guttered">
        {{ form_row(form.autoFetchSubmissionTitles) }}

        {{ form_row(form.enablePostPreviews) }}
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="form__group-header">{{ 'label.appearance'|trans }}</legend>

      <div class="vp vp--guttered">
        {{ form_row(form.night_mode) }}
      </div>
    </fieldset>

    <div class="nav nav--justify-end">
      <span></span>
      {{ form_widget(form.save) }}
    </div>
  {{ form_end(form) }}
{% endblock %}
