{% macro forum_list_header() %}
  <div class="nav nav--guttered nav--align-end pad">
    <h1 class="no-margin">{{ 'forum_list.page_title'|trans }}</h1>

    <nav class="nav__grow">
      <ul class="nav nav--guttered unlistify">
        {% with { active: app.request.attributes.get('_route') == 'forum_list' } %}
          <li>
            <a href="{{ path('forum_list') }}" class="tab {{ active ? 'tab--active' }}">
              {{- 'forum_list.list_view'|trans -}}
            </a>
          </li>
        {% endwith %}
        {% with { active: app.request.attributes.get('_route') == 'forums_by_category' } %}
          <li>
            <a href="{{ path('forums_by_category') }}" class="tab {{ active ? 'tab--active' }}">
              {{- 'forum_list.category_view'|trans -}}
            </a>
          </li>
        {% endwith %}
      </ul>
    </nav>

    {% if is_granted('create_forum') %}
      <nav>
        <a href="{{ path('create_forum') }}" class="button button--secondary">{{ 'forum_list.create_forum'|trans }}</a>
      </nav>
    {% endif %}
  </div>
{% endmacro %}
