{{ form_start(form, {attr: {class: 'vp vp--guttered'}}) }}
  {{ form_row(form.event) }}
  {{ form_row(form.url) }}
  {{ form_row(form.secretToken) }}

  <div class="button-row">
    {{ form_widget(form.submit) }}
  </div>
{{ form_end(form) }}
