{% extends 'base.html.twig' %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" href="{{ path('forum_feed', {forum_name: forum.name}) }}" title="{{ forum.name }}">
{% endblock head %}

{% block sidebar_top_classes 'card vp vp--guttered' %}
{% block sidebar_top %}
  <section class="container">
    <div class="nav nav--guttered nav--align-center nav--justify-space-between pad">
      <h4 class="no-margin">
        <a href="{{ path('forum', {forum_name: forum.name}) }}">
          <small class="dimmed">/f/{{ forum.name }}
          <span role="presentation">&bull;</span></small>
          <span class="main">{{ forum.title }}</span>
        </a>
      </h4>

      {% if is_granted('ROLE_USER') %}
        {% from 'forum/_macros.html.twig' import subscribe_button %}
        {% set subscribed = forum.subscribed(app.user) %}
        <form action="{{ path(subscribed ? 'unsubscribe' : 'subscribe', {forum_name: forum.name}) }}"
              method="POST"
              class="subscribe-form"
              data-forum="{{ forum.name }}">
          <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">
          {{ subscribe_button(forum, subscribed, false) }}
        </form>
      {% endif %}
    </div>

    {% if forum.sidebar is not empty %}
      <div class="break-text pad">{{ forum.sidebar|cached_markdown(markdown_context())|raw }}</div>
    {% endif %}
  </section>
{% endblock sidebar_top %}

{% block sidebar_bottom_classes 'container vp vp--guttered' %}

{% block sidebar_bottom %}
  {% if forum.moderators is not empty %}
    <section class="card">
      <h4 class="no-margin pad vertical-pad">{{ 'forum.moderators'|trans }}</h4>

      <ul class="unlistify" role="navigation">
        {% for moderator in forum.moderators %}
          <li>
            <a href="{{ path('user', {username: moderator.user.username}) }}" class="menu-link">
              {{- moderator.user.username -}}
            </a>
          </li>
        {% endfor %}
      </ul>

      <p class="no-margin pad vertical-pad">
        <a href="{{ path('forum_moderators', {forum_name: forum.name}) }}">{{ 'nav.see_full_list'|trans }}</a>
      </p>
    </section>
  {% endif %}

  {% set is_moderator = is_granted('moderator', forum) %}
  {% set toolbox_items = {
    ('nav.bans'|trans):            { path: path('forum_bans', {forum_name: forum.name}) },
    ('nav.moderation_log'|trans):  { path: path('moderation_log', {forum_name: forum.name})  },
    ('forum.edit'|trans):          { path: path('edit_forum', {forum_name: forum.name}), condition: is_moderator },
    ('nav.webhooks'|trans):        { path: path('forum_webhooks', {forum_name: forum.name}), condition: is_moderator and app_webhooks_enabled() },
    ('forum.add_moderator'|trans): { path: path('add_moderator', {forum_name: forum.name}), condition: is_granted('ROLE_ADMIN') },
    ('nav.delete_forum'|trans):    { path: path('delete_forum', {forum_name: forum.name}), condition: is_granted('ROLE_ADMIN') },
  } %}
  <section class="card">
    <h4 class="no-margin pad vertical-pad">{{ 'label.toolbox'|trans }}</h4>
    <ul class="unlistify" role="navigation">
      {% for key in toolbox_items|keys|sort if toolbox_items[key].condition ?? true %}
        <li><a href="{{ toolbox_items[key].path }}" class="menu-link">{{ key }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endblock sidebar_bottom %}
