{% extends 'forum/base.html.twig' %}
{% use '_layouts/list_of_things.html.twig' %}
{% set things = submissions %}

{% from 'submission/_macros.html.twig' import submission, submission_sort %}

{% block title forum.title %}

{% block head %}
  <link rel="canonical" href="{{ url('forum', {forum_name: forum.name}) }}">

  <meta property="og:title" content="{{ forum.title }}">
  <meta property="og:site_name" content="{{ site_name() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url('forum', {forum_name: forum.name}) }}">
  <meta property="og:image" content="{{ absolute_url(asset('apple-touch-icon-precomposed.png')) }}">

  {% if forum.description is not empty %}
    <meta name="description" content="{{ forum.description }}">
  {% endif %}

  {{ parent() }}
{% endblock head %}

{% block page_header %}
  <nav class="nav nav--guttered nav--align-center pad" role="navigation">
    <h1 class="no-margin">/f/{{ forum.name }}</h1>
    {{ submission_sort(sort_by) }}
  </nav>
{% endblock page_header %}

{% block render_thing %}
  {{ submission(thing) }}
{% endblock %}
