{% extends 'base.html.twig' %}
{% use '_layouts/single_column.html.twig' %}
{% from 'forum/_list_macros.html.twig' import forum_list_header %}

{% block main_classes 'container container--two-col-expand vertical-pad vp vp--guttered' %}
{% block title 'forum_list.page_title'|trans %}

{% block body %}
  {{ forum_list_header() }}

  <nav class="pad">
    <ul class="columns unlistify">
      {% for category in forum_categories %}
        <li>
          <h4 class="no-margin vertical-pad">
            <a href="{{ path('forum_category', {name: category.name}) }}"
               title="{{ category.description }}">
              {{- category.title -}}
            </a>
          </h4>

          <ul class="unlistify">
            {% for forum in category.forums %}
              <li>
                <a href="{{ path('forum', {forum_name: forum.name}) }}"
                   class="main">
                  {{- forum.name -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}

      {% if uncategorized_forums is not empty %}
        <li>
          <h4 class="no-margin vertical-pad">{{ 'forum_list.uncategorized'|trans }}</h4>

          <ul class="unlistify">
            {% for forum in uncategorized_forums %}
              <li>
                <a href="{{ path('forum', {forum_name: forum.name}) }}"
                   class="main">
                  {{- forum.name -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
